In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AustraliaDataScienceJob2.csv')
df.head()

,Job Title,Job Location,Company,Url,Estimate Base Salary,Low Estimate,High Estimate,Company Size,Company Type,Company Sector,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
0,Graduate Math Teacher,Melbourne,Education and Training,https://www.glassdoor.com.au/partner/jobListin...,57511,53000,63000,1001 to 5000 Employees,School / School District,NaN,...,0,0,0,0,0,0,0,0,1,0
1,Business Development Manager,Scoresby,Johnson & Johnson,https://www.glassdoor.com.au/partner/jobListin...,110373,106000,115000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
2,Analytics Consultant,Melbourne,City of Melbourne,https://www.glassdoor.com.au/partner/jobListin...,120676,114000,128000,1001 to 5000 Employees,Government,Government & Public Administration,...,0,0,0,0,0,0,0,0,1,1
3,Data Analyst,Melbourne,Wesfarmers OneDigital,https://www.glassdoor.com.au/partner/jobListin...,140000,140000,140000,10000+ Employees,Company - Public,Retail & Wholesale,...,0,0,0,0,1,0,0,0,0,0
4,Electronics Engineer,New South Wales,Australian Antarctic Division,https://www.glassdoor.com.au/partner/jobListin...,92076,92000,92000,501 to 1000 Employees,Government,Government & Public Administration,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df['Company'] = df['Company'].str.strip().str.upper()
df.head()

,Job Title,Job Location,Company,Url,Estimate Base Salary,Low Estimate,High Estimate,Company Size,Company Type,Company Sector,...,cassandra_yn,hive_yn,bigml_yn,tableau_yn,powerbi_yn,nlp_yn,pytorch_yn,tensorflow_yn,mathematic_yn,statistic_yn
0,Graduate Math Teacher,Melbourne,EDUCATION AND TRAINING,https://www.glassdoor.com.au/partner/jobListin...,57511,53000,63000,1001 to 5000 Employees,School / School District,NaN,...,0,0,0,0,0,0,0,0,1,0
1,Business Development Manager,Scoresby,JOHNSON & JOHNSON,https://www.glassdoor.com.au/partner/jobListin...,110373,106000,115000,10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,...,0,0,0,0,0,0,0,0,0,0
2,Analytics Consultant,Melbourne,CITY OF MELBOURNE,https://www.glassdoor.com.au/partner/jobListin...,120676,114000,128000,1001 to 5000 Employees,Government,Government & Public Administration,...,0,0,0,0,0,0,0,0,1,1
3,Data Analyst,Melbourne,WESFARMERS ONEDIGITAL,https://www.glassdoor.com.au/partner/jobListin...,140000,140000,140000,10000+ Employees,Company - Public,Retail & Wholesale,...,0,0,0,0,1,0,0,0,0,0
4,Electronics Engineer,New South Wales,AUSTRALIAN ANTARCTIC DIVISION,https://www.glassdoor.com.au/partner/jobListin...,92076,92000,92000,501 to 1000 Employees,Government,Government & Public Administration,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_group_company = df.groupby('Company').sum()
df_group_company_2 = df.groupby('Company').sum()

In [5]:
df_group_company_join = df_group_company.join(df_group_company_2, lsuffix='_main', rsuffix='_secondary', how='outer',on=['Company'])
df_group_company_join[df_group_company_join['Estimate Base Salary_main'] != df_group_company_join['Estimate Base Salary_secondary']].head()

Empty DataFrame
Columns: [Job Title_main, Job Location_main, Url_main, Estimate Base Salary_main, Low Estimate_main, High Estimate_main, Company Size_main, Company Type_main, Company Sector_main, Company Founded_main, Company Industry_main, Company Revenue_main, Job Descriptions_main, Company Rating_main, Company Friend Reccomendation_main, Company CEO Approval_main, Companny Number of Rater_main, Company Career Opportinities_main, Compensation and Benefits_main, Company Culture and Values_main, Company Senior Management_main, Company Work Life Balance_main, Country_main, State_main, python_yn_main, r_yn_main, sql_yn_main, java_yn_main, julia_yn_main, scala_yn_main, c_yn_main, c++_yn_main, javascript_yn_main, spark_yn_main, hadoop_yn_main, matlab_yn_main, sas_yn_main, git_yn_main, excel_yn_main, nosql_yn_main, aws_yn_main, mongodb_yn_main, cassandra_yn_main, hive_yn_main, bigml_yn_main, tableau_yn_main, powerbi_yn_main, nlp_yn_main, pytorch_yn_main, tensorflow_yn_main, mathematic_yn_main, statistic_yn_main, Job Title_secondary, Job Location_secondary, Url_secondary, Estimate Base Salary_secondary, Low Estimate_secondary, High Estimate_secondary, Company Size_secondary, Company Type_secondary, Company Sector_secondary, Company Founded_secondary, Company Industry_secondary, Company Revenue_secondary, Job Descriptions_secondary, Company Rating_secondary, Company Friend Reccomendation_secondary, Company CEO Approval_secondary, Companny Number of Rater_secondary, Company Career Opportinities_secondary, Compensation and Benefits_secondary, Company Culture and Values_secondary, Company Senior Management_secondary, Company Work Life Balance_secondary, Country_secondary, State_secondary, python_yn_secondary, r_yn_secondary, sql_yn_secondary, java_yn_secondary, julia_yn_secondary, scala_yn_secondary, c_yn_secondary, c++_yn_secondary, javascript_yn_secondary, spark_yn_secondary, hadoop_yn_secondary, matlab_yn_secondary, sas_yn_secondary, git_yn_secondary, excel_yn_secondary, nosql_yn_secondary, aws_yn_secondary, mongodb_yn_secondary, cassandra_yn_secondary, hive_yn_secondary, bigml_yn_secondary, tableau_yn_secondary, powerbi_yn_secondary, nlp_yn_secondary, ...]
Index: []

[0 rows x 104 columns]

In [6]:
def adjust_column_names(name_column):
    return name_column.strip().lower().replace(' ', '_')

def rename_columns(df_1, df_2, key_columns_1, key_columns_2, compare_column_1, compare_column_2):
    all_columns_1 = key_columns_1 + compare_column_1
    all_columns_2 = key_columns_2 + compare_column_2

    df_1 = df_1[all_columns_1]
    df_2 = df_2[all_columns_2]

    all_columns = dict(zip(all_columns_2, all_columns_1))

    df_2 = df_2.rename(columns=all_columns)

    return df_1, df_2

def read_files(path_file_1, path_file_2, type='csv'):
    if type == 'csv':
        df_1 = pd.read_csv(path_file_1).rename(adjust_column_names, axis='columns')
        df_2 = pd.read_csv(path_file_2).rename(adjust_column_names, axis='columns')
    elif type == 'excel':
        df_1 = pd.read_excel(path_file_1).rename(adjust_column_names, axis='columns')
        df_2 = pd.read_excel(path_file_2).rename(adjust_column_names, axis='columns')
    else:
        raise TypeError("Type invalid")
    return df_1, df_2

def group_datasets(df_1, df_2, key_columns):
    return df_1.groupby(key_columns).sum(), df_2.groupby(key_columns).sum()

def compare_datasets(df_1, df_2, key_columns, compare_columns, max_diff):
    df_join = df_1.merge(df_2, suffixes=('_primary','_secondary'), how='outer',on=key_columns, indicator=True)

    columns_primary = [col + '_primary' for col in compare_columns]
    columns_secondary = [col + '_secondary' for col in compare_columns]
    columns = list(zip(columns_primary, columns_secondary))

    query_parts = [f"(abs({col[0]} - {col[1]}) >= {max_diff})" for col in columns]
    query_string = '(' + " or ".join(query_parts) + ')' + "and _merge == 'both'"

    df_join.query(query_string).to_csv('diff_files.csv')
    df_join.query("_merge == 'left_only'").to_csv('left_only_files.csv')
    df_join.query("_merge == 'right_only'").to_csv('right_only_files.csv')

    return df_join.query(query_string), df_join.query("_merge == 'left_only'"), df_join.query("_merge == 'right_only'")


#def compare_files(df_1, df_2, key_columns_1, key_columns_2, compare_column_1, compare_column_2):
#    df_1

df_1, df_2 = read_files('AustraliaDataScienceJob2.csv', 'AustraliaDataScienceJob2.csv')
df_2 = df_2.rename(columns={'high_estimate': 'high_estimate_2'})

key_columns = ['company']

compare_columns = ['low_estimate', 'high_estimate']

compare_columns_2 = ['low_estimate', 'high_estimate_2']

df_1, df_2 = rename_columns(df_1, df_2, key_columns, key_columns, compare_columns, compare_columns_2 )

new_row_data = {"company": ['Teste'], "low_estimate": [40], "high_estimate": [10]}
new_row_df = pd.DataFrame(new_row_data)

df_2 = pd.concat([df_2, new_row_df])

df_1 = df_1.groupby(key_columns).sum()
df_2 = df_2.groupby(key_columns).sum()

df_2['low_estimate'] = df_2['low_estimate'] + 0.1

print(df_2.head())
print(df_1.head())



print(df_2.query("company == 'Teste'").head())

print(df_2.head())


df_join_both, df_join_left, df_join_right = compare_datasets(df_1,df_2,key_columns,compare_columns,0.15)
df_join_both.head()

print(df_join_both.head())

print(df_join_left.head())

print(df_join_right.head())

df_join_right.head()

                   low_estimate  high_estimate
company
ACER                    70000.1         113000
AECOM                   64000.1          84000
AFL Recruitment         80000.1          90000
AIA                     63000.1          79000
ANZ Banking Group     5794000.1        8650000
                   low_estimate  high_estimate
company
ACER                      70000         113000
AECOM                     64000          84000
AFL Recruitment           80000          90000
AIA                       63000          79000
ANZ Banking Group       5794000        8650000
         low_estimate  high_estimate
company
Teste            40.1             10
                   low_estimate  high_estimate
company
ACER                    70000.1         113000
AECOM                   64000.1          84000
AFL Recruitment         80000.1          90000
AIA                     63000.1          79000
ANZ Banking Group     5794000.1        8650000
Empty DataFrame
Columns: [low_estimate_primary, high_estimate_primary, low_estimate_secondary, high_estimate_secondary, _merge]
Index: []
Empty DataFrame
Columns: [low_estimate_primary, high_estimate_primary, low_estimate_secondary, high_estimate_secondary, _merge]
Index: []
         low_estimate_primary  high_estimate_primary  low_estimate_secondary  \
company
Teste                     NaN                    NaN                    40.1

         high_estimate_secondary      _merge
company
Teste                         10  right_only

,low_estimate_primary,high_estimate_primary,low_estimate_secondary,high_estimate_secondary,_merge
company,,,,,
Teste,NaN,NaN,40.1,10,right_only